{extend name="AdminPublic:public"/}
{block name="title"}
    后台用户列表
{/block}

{block name="admin"}
<div style="margin-left:30px;margin-right:30px">
<div class="page-heading">
            <h2>
                管理员管理
            </h2>
            <ul class="breadcrumb">
                <li>
                    <a href="/adminusers/index"> 管理员 </a>
                </li>
                <li class="active"> 列表 </li>
            </ul>
</div>
<table class="display table table-bordered table-striped dataTable" id="dynamic-table" aria-describedby="dynamic-table_info">
  <thead>
    <tr role="row">
      <th class="sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" >编号</th>
      <th class="sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" >管理员</th>
      <th class="sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" >密码</th>
      <th class="sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" >角色</th>
      <th class="sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-sort="descending" aria-label="CSS grade: activate to sort column ascending" style="width: 170px;">操作</th></tr>
  </thead>
  <tbody role="alert" aria-live="polite" aria-relevant="all">
  {foreach name='data' item='row'} 
    <tr class="gradeX odd">
      <td class=" ">{$i++}</td>
      <td class=" ">{$row['name']}</td>
      <td class=" ">{$row['password']}</td>
      <!-- 通过传递过来的role数组将数据表中的数字转换成对应的中文 -->
      <td class=" ">{$role[$row['role']]}</td>
      <td class=""><a href="/adminusers/delete/id/{$row['id']}" class="btn btn-danger del" >删除</a> <a href="/adminusers/edit/id/{$row['id']}" class="btn btn-info">修改</a></td>
    </tr>
    {/foreach}
  </tbody>
</table>

  <div class="dataTables_paginate paging_bootstrap pagination">{$data->render()}<!-- <ul><li class="prev disabled"><a href="#">← Previous</a></li><li class="active"><a href="#">1</a></li><li><a href="#">2</a></li><li><a href="#">3</a></li><li><a href="#">4</a></li><li><a href="#">5</a></li><li class="next"><a href="#">Next → </a></li></ul> --></div>
  </div>
  <script>
  //强调是否删除
    $('.del').click(function(){
      var r=confirm('确定删除?');
      if(r){
        return true;
      }else{
        return false;
      }
    })
  </script>
{/block}