{extend name="AdminPublic:public"/}
{block name="title"}
    后台订单列表
{/block}

{block name="admin"}
<style type="text/css">
  .table th,.table td { 
    text-align: center;
    vertical-align: middle!important;
  }
</style>
<div style="margin-left:30px;margin-right:30px">
<div class="page-heading">
            <h2>
                订单管理
            </h2>
            <ul class="breadcrumb">
                <li>
                    <a href=""> 订单管理 </a>
                </li>
                <li class="active"> 订单列表 </li>
            </ul>
</div>
<table class="display table table-bordered table-striped dataTable" id="dynamic-table" aria-describedby="dynamic-table_info">
  <thead>
    <tr role="row">
      <th class="sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" >ID</th>
      <th class="sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" >订单号</th>
      <th class="sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" >用户</th>
      <th class="sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" >地址</th>
      <th class="sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" >总金额(元)</th>
      <th class="sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" >订单状态</th>
      <th class="sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-sort="descending" aria-label="CSS grade: activate to sort column ascending" style="width: 170px;">操作</th></tr>
  </thead>
  <tbody role="alert" aria-live="polite" aria-relevant="all">
  {foreach name='data' item='row'} 
    <tr class="gradeX odd">
      <td class=" ">{$row['id']}</td>
      <td class=" ">{$row['order_num']}</td>
      <td class=" ">{$row['uname']}</td>
      <td class=" ">{$row['address']}</td>
      <td class=" ">{$row['total']}.00</td>
      <td class=" ">
        {switch name="$row['status']"}
        {case value="0"}<a href="" class="btn btn-primary" disabled>待支付</a>{/case}
        {case value="1"}<a href="" class="btn btn-info" disabled>已取消</a>{/case}
        {case value="2"}<a href="{:url('/orders/deliver',['id'=>$row['id']])}" class="btn btn-success">已支付</a>{/case}
        {case value="3"}<a href="" class="btn btn-waring" disabled>已发货</a>{/case}
        {case value="4"}<a href="" class="btn btn-default" disabled>已完成</a>{/case}
        {case value="5"}<a href="" class="btn btn-warning" disabled>已评价</a>{/case}
        {case value="6"}<a href="" class="btn btn-danger">退款中</a>{/case}
        {case value="7"}<a href="" class="btn btn-default" disabled>已退款</a>{/case}
        {case value="8"}<a href="" class="btn btn-default" disabled>已删除</a>{/case}
        {case value="9"}<a href="" class="btn btn-default" disabled>已评价</a>{/case}
        {/switch}
      </td>
      <td class=""> <a href="/ordersinfo/index/id/{$row['id']}" class="btn btn-success">订单详情</a></td>
    </tr>
    {/foreach}
  </tbody>
</table>
  <div class="dataTables_paginate paging_bootstrap pagination"><ul><li class="prev disabled"><a href="#">← Previous</a></li><li class="active"><a href="#">1</a></li><li><a href="#">2</a></li><li><a href="#">3</a></li><li><a href="#">4</a></li><li><a href="#">5</a></li><li class="next"><a href="#">Next → </a></li></ul></div>
  </div>
{/block}